
<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Govt.  বিজ্ঞাপন </span>
                <span class="caption-helper">(Govt. Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Govt. Ad<small>Govt. Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc">Gov tAd</div>
                            <span class="mt-head-date">Govt Ad</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "GovtAd", "Inqilab", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc">Govt CommercialAd</div>
                            <span class="mt-head-date">Govt CommercialAd</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "GovtCommercialAd", "Inqilab", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
