

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/shards/shards.css" rel="stylesheet" />
<style>
    .row {
        display: flex; /* equal height of the children */
    }

    .col {
        flex: 1; /* additionally, equal width */
  
        padding: 1em;
        border: none;
    }

    .card-img-top {
        max-height: 100px;
        min-height: 100px;
    }
</style>



<div class="index-page" >

    <div class="">
        @{ Html.RenderAction("MenuBanner", "Catalog"); }
    </div>
</div>

<div class="">
    <div class="bangla-newspaper">
        <div class="box-heading box-sections box-block">
            <p>Bangla Newspaper</p>
        </div>
        <!-- Bangla -->
        <div id="cards" class="container mb-2" style="padding-bottom: 1px">
            <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">

                <p>
                    We wanted cards to stand out and bring depth without changing their original structure. All of this while allowing
                    them to play well with the other components.
                </p>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/prothom-alo-logo.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Prothom Alo</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/daily-ittefaq.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Ittefaq</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card ">
                                <img class="card-img-top " src="~/Content/images/newspaper/janakantha_logo.gif" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Janakantha</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/Daily_Samakal.svg.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Samakal</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/Inqilab.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Inqilab</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/jaijaidin.gif" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">JaiJaidin</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/amader-somoy.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Amader Shomoy</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/naya diganta.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Naya Diganta</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/300px-Daily_Manabzamin.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Manab Zamin</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <!-- Bangla -->
    </div>
    <div class="english-newspaper">
        <div class="box-heading box-sections box-block">
            <p>English Newspaper</p>
        </div>
        <!-- English -->
        <div id="cards" class="container mb-2" style="padding-bottom: 1px">
            <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">

                <p>
                    We wanted cards to stand out and bring depth without changing their original structure. All of this while allowing
                    them to play well with the other components.
                </p>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/daily-star.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Daily Star</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/daily sun.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Daily Sun</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/new nation.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">New Nation</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/New_Age_Logo.svg.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">New Age</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/news today.gif" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">News Today</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/images/newspaper/independent.gif" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">The Independent</h4>
                                    <p class="card-text">
                                        He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                        in his length hid...
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
        <!-- English -->
    </div>
    <div class="hire-designer">
        <div class="box-heading box-sections box-block">
            <p>Hire a Designer</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="">
                    <div class="col-md-12 ">
                        <div class="card" style="text-align: center;">
                            <img src="~/Content/images/newspaper/designer.jpg"  alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Hire a designer?</h4>
                                <p class="card-text">
                                    He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                    in his length hid...
                                </p>
                                <a href="#" class="btn btn-primary">Hire</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>