<h2>Notice</h2>

<h6>শ্রেণিভুক্ত বিজ্ঞাপন প্রকাশ তারিখের অন্তত দুই দিন আগে মূল্য পরিশোধ করে বিজ্ঞাপনটি জমা দিতে হবে । উদাহরণস্বরূপ, শুক্রবারের জন্য বিজ্ঞাপন জমা দেওয়ার শেষ সময় বুধবার বিকেল পাঁচটা । </h6>

<h6>বিঃদ্র : সরকার কর্তৃক ২০১৬ - ১৭ অর্থবছরের বাজেটে শ্রেণিবদ্ধ বিজ্ঞাপনে ভ্যাট আরোপ করা হয়েছে । সে অনুযায়ী সব শ্রেণিবদ্ধ বিজ্ঞাপনে ১৫% ভ্যাট প্রযোজ্য</h6>

<h6>Your classified ad have to submitted with bill paid atleast two days befor the date of advertisment publish. For example If your ad publish in friday , The ad have to submitted within wednesday at 5 p.m. </h6>

<h6>Note: According to national budget 20016-17, Government charged 15% vat on all classified advertisement.</h6>
