  @model AmaderAd.Models.Newspaper

<div class="form-group">
    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { style = "height:80px;", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })    
    </div>
</div>

