  @model AmaderAd.Models.Newspaper

<div class="form-group">
    @Html.LabelFor(m => m.AdCategoryId, new { @class = "col-md-2 control-label" })
       <div class="col-md-10">
           @Html.DropDownListFor(m => Model.AdCategoryId, Model.AllAdCategory, "বিজ্ঞাপনের শিরোনামটি বাছাই করুন  (Choose AD Category)", new { @class = "form-control" })
           @Html.ValidationMessageFor(model => model.AdCategoryId, "", new { @class = "text-danger" })
       </div>
   </div>
    
